body {
  font-family: 'Trocchi', serif;  
  font-size: 12px;
}

#bar
{
  position: absolute;
  height: 144px;
  width: 100%;
  bottom: 50px;
  border-top: 1px solid rgb(181, 181, 181);
  border-bottom: 1px solid rgb(181, 181, 181);  
}

#scroller-container
{
  position: absolute;
  left: 144px;
  width: 1136px;
  height: 144px;
  overflow: hidden;
  overflow-y: hidden;
}

#topic
{
  position: absolute;
  left: 0px;
  height: 144px;
  width: 144px;
  background-color: white;
  text-align: center;
}

#scroller
{
  height: 144px;
  width: 10000%;
}

.badge {
  height: 90px;
  margin-top: 10px;

  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
  -webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.6);  
}

#topic p {
  line-height: 14px;
}

.exercise {
  height: 100%;
  padding-right: 300px;
  float: left;
  max-width: 300px;
}